* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 67.5%;
}

body {
	background: #222;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 10rem;
}

button {
	font-size: 4rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 5px;
	background: #444;
	color: #fff;
}

button:hover {
	background: #555;
}

.activity {
	margin-top: 3rem;
}

.activityDetail {
	font-size: 1.4rem;
	margin-bottom: 5px;
}
