* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.container {
	max-width: 23%;
}

.calculatorBody {
	display: flex;
	flex-direction: column;
	background: #000;
	padding: 1.4rem 1.4rem 14rem 1.4rem;
	border-radius: 1rem;
}

.calculatorScreen {
	background: #fff;
	margin-bottom: 1rem;
	height: 4rem;
	padding: 0.7rem;
	font-size: 2.4rem;
	overflow: hidden;
}

.buttonsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.button {
	width: 20%;
	height: 32%;
	background: #fff;
	color: #000;
	font-size: 1.7rem;
	border: none;
	border-radius: 50%;
	margin: 0.4rem 0.5rem;
	cursor: pointer;
}

.button:hover {
	background: #ddd;
}

.button[name='equals'] {
	background: orange;
	color: #fff;
}

.button[name='clear'] {
	width: 100%;
	background: #ccc;
	border-radius: 0.6rem;
}
